@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --c-inactive: #f5f5f5;
}

.mantine-AppShell-main {
  /* width: auto; */
  padding-top: 70px;
  padding-left: 0;
  @media screen(lg) {
    padding-left: 240px;
  }
  padding-right: 0px;
  padding-bottom: 0px;
}

.combobox-full > [role='combobox'] {
  width: 100%;
}

.mantine-Input-rightSection [role='combobox'] {
  position: relative;
  right: 16px;
}

.mantine-Input-rightSection .mantine-Select-wrapper {
  width: 70px;
}

.mantine-Input-rightSection .mantine-Select-input {
  background-color: #f5f5f5;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.mantine-Select-input {
  display: flex;
  padding-right: 20px;
}

.PasswordInput .mantine-PasswordInput-innerInput {
  height: 48px;
}

.mantine-DateRangePicker-wrapper {
  flex: 1;
}

.whiteColor {
  color: #fff;
}

input#IconRupiah {
  padding-left: 50px;
}
th {
  white-space: nowrap;
}
td {
  white-space: nowrap;
}
input#enter {
  display: none;
}
input#test {
  height: unset;
}
